<main class="content" role="main">

  <div id="carouselCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/slide1.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Equipe focada no seu bem-estar</h5>
          <p>Além de conhecimento, valorizamos empatia e compreensão.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/slide2.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Faça aqui seu pré-natal</h5>
          <p>Temos exames e especialidades necessários nessa fase tão importante.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/slide3.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Atendemos toda a família</h5>
          <p>Aqui você encontra cuidado para todas as idades.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="card-container">
    <a class="card" rel="noopener" routerLink="/appointment">
      <span>Marcar Consulta</span>
    </a>
    <a class="card" rel="noopener" routerLink="/appointment-exam">
      <span>Agendar Exame</span>
    </a>
  </div>
</main>