<div class="container">
    <h2>Quem Somos</h2>
    <p>Rede de clínicas com diversas especialidades e exames.</p>
    <h3>Especialidades:</h3>
    <ul>
        <li>Cardiologia</li>
        <li>Endocrinologia</li>
        <li>Psiquiatria</li>
        <li>Odontologia</li>
        <li>Neurologia</li>
    </ul>
    <h3>Exames que realizamos:</h3>
    <ul>
        <li>Imagem</li>
        <li>Laboratoriais</li>
        <li>Medicina Nuclear</li>
        <li>Odontológicos</li>
        <li>Esteira</li>
    </ul>
</div>