<div class="container">
    <h2>Relatório dos nossos Médicos!</h2>
    <p>Dividimos por especialidades.</p>
    <p>Total de Consultas agendadas:</p>
    <ul>
        <li id="Cardiologia">Cardiologia: {{ scheduleAppointmentsByExpertise.Cardiologia }}</li>
        <li id="Endocrinologia">Endocrinologia: {{ scheduleAppointmentsByExpertise.Endocrinologia }}</li>
        <li id="Psiquiatria">Psiquiatria: {{ scheduleAppointmentsByExpertise.Psiquiatria }}</li>
        <li id="Odontologia">Odontologia: {{ scheduleAppointmentsByExpertise.Odontologia }}</li>
        <li id="Neurologia">Neurologia: {{ scheduleAppointmentsByExpertise.Neurologia }}</li>
    </ul>
</div>
